<project version="4">
  <component name="ExternalSystemProjectTracker">
    <option name="projectSettingsTrackerStates">
      <map>
        <entry>
          <key>
            <Id>
              <option name="externalProjectPath" value="springboot-example" />
              <option name="systemId" value="MAVEN" />
            </Id>
          </key>
          <value>
            <Project>
              <option name="settingsTracker">
                <State>
                  <option name="dirty" value="false" />
                  <option name="settingsFiles">
                    <map>
                      <entry key="$PROJECT_DIR$/api-doc-example/pom.xml" value="1036244006" />
                      <entry key="$PROJECT_DIR$/mybatis-read-write-example/pom.xml" value="3545727908" />
                      <entry key="$PROJECT_DIR$/pom.xml" value="3163817224" />
                    </map>
                  </option>
                </State>
              </option>
            </Project>
          </value>
        </entry>
      </map>
    </option>
  </component>
  <component name="JsBuildToolGruntFileManager" detection-done="true" sorting="DEFINITION_ORDER" />
  <component name="JsBuildToolPackageJson" detection-done="true" sorting="DEFINITION_ORDER" />
  <component name="JsGulpfileManager">
    <detection-done>true</detection-done>
    <sorting>DEFINITION_ORDER</sorting>
  </component>
  <component name="PermissionStore">
    <excludedFiles>
      <Path>$PROJECT_DIR$/.idea</Path>
    </excludedFiles>
    <fileAccess>Readonly</fileAccess>
    <terminalAccess>Readonly</terminalAccess>
    <runAccess>Readonly</runAccess>
    <toolWindowAccess>Disabled</toolWindowAccess>
  </component>
  <component name="VcsLogIndexCollector">
    <option name="indexTime" value="196" />
  </component>
</project>