<module>
  <component name="DeprecatedModuleOptionManager">
    <option key="type" value="JAVA_MODULE" />
  </component>
  <component name="ExternalSystem" externalSystem="Maven" externalSystemModuleType="AGGREGATOR" externalSystemModuleVersion="223-2" linkedProjectId="$MODULE_DIR$/pom.xml" />
  <component name="NewModuleRootManager" LANGUAGE_LEVEL="JDK_11" inherit-compiler-output="true">
    <content url="file://$MODULE_DIR$" />
    <orderEntry type="inheritedJdk" />
    <orderEntry type="sourceFolder" forTests="false" />
  </component>
</module>